<section class="faq py-5" id="faq">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="text-center mb-5">
      <h2 class="fw-bold wow fadeInDown">{{ 'faq.title' | translate }}</h2>
      <p class="text-muted fs-5 wow fadeInUp">{{ 'faq.subtitle' | translate }}</p>
    </div>

    <!-- Accordion -->
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item wow fadeInUp">
        <h2 class="accordion-header" id="heading-1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
            {{ 'faq.q1.question' | translate}}
          </button>
        </h2>
        <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            {{ 'faq.q1.answer' | translate}}
          </div>
        </div>
      </div>

      <div class="accordion-item wow fadeInUp">
        <h2 class="accordion-header" id="heading-2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
            {{ 'faq.q2.question' | translate}}
          </button>
        </h2>
        <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            {{ 'faq.q2.answer' | translate}}
          </div>
        </div>
      </div>

      <div class="accordion-item wow fadeInUp">
        <h2 class="accordion-header" id="heading-3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
            {{ 'faq.q3.question' | translate}}
          </button>
        </h2>
        <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            {{ 'faq.q3.answer' | translate}}
          </div>
        </div>
      </div>


      <div class="accordion-item wow fadeInUp">
        <h2 class="accordion-header" id="heading-4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
            {{ 'faq.q4.question' | translate}}
          </button>
        </h2>
        <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            {{ 'faq.q4.answer' | translate}}
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
