<footer class="footer">
  <div class="container">
    <div class="row g-3 py-4">
      <div class="col-md-3 wow fadeInUp">
        <div class="logo">
          <img loading="lazy" src="assets/image/logos/app-icon.png" class="logo-img" [alt]="'footer.info.name' | translate">
        </div>

        <p class="my-3">{{'footer.info.description' | translate}}</p>

        <div class="footer-icons d-flex justify-content-start align-items-center gap-2">
          <!-- <div class="cr icon">
            <a href="https://www.instagram.com/Ticketat010/?utm_source=ig_web_button_share_sheet" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>

          <div class="cr icon">
            <a href="https://www.facebook.com/share/1AFhp1rtQW/" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </div> -->

          <div class="cr icon">
            <a
              href="mailto:anfahmy92@gmail.com"
              target="_blank"
            >
              <i class="fa-solid fa-envelope"></i>
            </a>
          </div>

          <div class="cr icon">
            <a
              href="https://wa.me/+201110038252?text=مرحبًا%20Ticketat!%20أريد%20الاستفسار%20عن%20خدماتكم"
              target="_blank">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>

          <div class="cr icon">
            <a
              href="tel:+0201110038252"
              target="_blank" dir="ltr">
              <i class="fa-solid fa-phone"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-3 wow fadeInUp">
        <h5>{{'footer.services.title' | translate}}</h5>
        <ul class="footer-services px-0 list-unstyled d-flex flex-column justify-content-start align-items-start gap-1">
          <li>- {{'features.items.supportTitle' | translate}}</li>
          <li>- {{'features.items.socialTitle' | translate}}</li>
          <li>- {{'features.items.motionTitle' | translate}}</li>
          <li>- {{'features.items.designTitle' | translate}}</li>
          <li>- {{'features.items.webTitle' | translate}}</li>
        </ul>
      </div>

      <div class="col-md-3 wow fadeInUp">
        <h5>{{'footer.Links.title' | translate}}</h5>
        <ul class="footer-links px-0 list-unstyled d-flex flex-column justify-content-start align-items-start gap-1">
          @for ( section of sections; track $index) {
            <li>
              <a
              class="link-item cr"
              (click)="scrollToSection(section.id)">
                - {{ section.name | translate }}
              </a>
            </li>
          }
        </ul>
      </div>

      <div class="col-md-3 wow fadeInUp">
        <div class="footer-contact">
          <h5>{{'footer.contact.title' | translate}}</h5>
          <ul class="list-unstyled px-0 d-flex flex-column justify-content-start align-items-start gap-2">
            <li class="cr">
              <a
                href="tel:+0201110038252"
                target="_blank" dir="ltr">
                +201110038252 <i class="fa-solid fa-phone"></i>
              </a>
            </li>

            <li>
              <a
                href="https://wa.me/+201110038252?text=مرحبًا%20Ticketat!%20أريد%20الاستفسار%20عن%20خدماتكم"
                target="_blank" dir="ltr">
                +201110038252 <i class="fa-brands fa-whatsapp"></i>
              </a>
            </li>

            <li class="cr">
              <a href="mailto:anfahmy92@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope"></i>
                anfahmy92{{'@'}}gmail.com
              </a>
            </li>

            <li>
              <a href="https://maps.app.goo.gl/fNS9MDe6ihskntxu7" target="_blank">
                <i class="fa-solid fa-location-dot fs-4 ms-1"></i>
                {{'footer.contact.address' | translate}}
              </a>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right text-center p-2">
    <p class="m-0 text-white">{{'footer.CopyRight.text' | translate}}</p>
  </div>
</footer>
