<section id="why-us" class="why-us py-5">
  <div class="container">
    <div class="title d-flex gap-1 mb-3">
      <span class="px-3 text-white py-1 rounded-5 main-bg">{{'whyUs.why' | translate}}</span>
      <h3 class="fw-bold">{{'whyUs.chooseUs' | translate}}</h3>
    </div>
    <div class="row g-3">
      @for (item of whyItems; track $index) {
        <div class="col-md-6 col-12">
          <div class="why-box shadow-sm wow fadeInUp rounded-5 p-4 d-flex justify-content-center aling-items-center gap-3">
            <div class="why-info">
              <div class="d-flex align-items-center gap-2 mb-2">
                <!-- <img loading="lazy" [src]="item.icon" [alt]="item.alt | translate"> -->
                <h5 class="mb-0">{{item.title | translate}}</h5>
              </div>
              <p>{{item.desc | translate}}</p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
