$mainColor : #598AF0;
$second-color:#B245C2;
.why-us{
  .title{
    span{
      height: fit-content;
    }
  }
  .why-box{
    backdrop-filter: blur(10px);
    background: linear-gradient(to left, rgba(89, 137, 240, 0.034) 0% 60%, rgba(89, 137, 240, 0.386));
    img {
      width: 60px;
      filter: invert(100%)  drop-shadow(0 0 10px rgba(0, 0, 0, 0.838));
    }
    h5{
      font-size: 22px;
    }
    p{
      color: #797979;
    }
  }
}
