<section>
  <div class="container">
    <div class="view-products py-4">
      <div class="d-flex align-items-center gap-2 cr" routerLink="/orders">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Back</span>
      </div>

      <div class="d-flex flex-wrap justify-content-between align-items-center gap-2 mt-2">
        <h5>Order ID : <span class="fw-bold main-color">{{orderDetails?.id || '-'}}</span></h5>
        <h5>Client Name : <span class="fw-bold main-color">{{ orderDetails?.name || '-'}}</span></h5>
        <h5>Total Amount: <span class="fw-bold main-color">{{ orderDetails?.total | number }} EGP</span></h5>
        <h5>
          Status: <span class="fw-bold" [class.text-warning]="orderDetails?.status == 'Pending'" [class.text-success]="orderDetails?.status == 'Paid'">{{ orderDetails?.status}}</span>
        </h5>
      </div>

      <div class="card p-3 mt-3 rounded-4">
        <ul>
          @for (product of orderDetails?.products; track $index) {
            <li class="mt-3">Product Name : <span class="main-color fw-semibold">{{product?.name}}</span>
              <ul>
                <li>Price :  <span class="main-color fw-semibold">{{product?.price | number}} EGP</span></li>
                <li>Quantity :  <span class="main-color fw-semibold">{{product?.quantity}} Piece</span></li>
                <li>Total :  <span class="main-color fw-semibold">{{product?.total | number}} EGP</span></li>
              </ul>
            </li>

            <hr>
          }

        </ul>
      </div>
    </div>
  </div>
</section>
