<section id="our-work" class="our-work py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-white wow fadeInDown">
        <h3>{{'ourWork.title' | translate}}</h3>
      </div>
      @if(isBrowser){
        <div class="col-12 wow fadeInUp">
          <swiper-container dir="ltr" class="mySwiper py-3" [slides-per-view]="swiperConfig.slidesPerView" loop="true"
            [space-between]="swiperConfig.spaceBetween"
            [breakpoints]="swiperConfig.breakpoints"
            [loop]="swiperConfig.loop"
            autoplay-delay="1500" autoplay-disable-on-interaction="false">
            @for(image of imageSlider1; track $index){
              <swiper-slide>
                <img loading="lazy" [src]="image" class="img-slider w-100 px-2" alt="Ticketat">
              </swiper-slide>
            }
          </swiper-container>
        </div>
        <div class="col-12 wow fadeInUp">
          <swiper-container class="mySwiper py-3" dir="rtl" loop="true" [slides-per-view]="swiperConfig.slidesPerView"
            [space-between]="swiperConfig.spaceBetween"
            [breakpoints]="swiperConfig.breakpoints"
            [loop]="swiperConfig.loop"
            autoplay-delay="1500" autoplay-disable-on-interaction="false">
            @for(image of imageSlider2; track $index){
              <swiper-slide>
                <img loading="lazy" loading="lazy" [src]="image" class="img-slider w-100 px-2" alt="Ticketat">
              </swiper-slide>
            }
          </swiper-container>
        </div>
        }
    </div>
  </div>
</section>
