<section class="cta-section py-5 text-center bg-primary text-white" id="contact-us">
  <div class="container">
    <h2 class="fw-bold mb-3 wow flipInX">{{'contact.title' | translate}}</h2>
    <p class="mb-4 fs-5 wow flipInX">{{'contact.subtitle' | translate}}</p>

    <div class="d-flex flex-wrap justify-content-center gap-3">
      <button class="btn btn-light btn-lg shadow-sm wow flipInY">
        <a href="https://www.ticketateg.com/" target="_blank">
          {{'contact.buttons.startBooking' | translate}}
        </a>
      </button>
      <button class="btn btn-outline-light btn-lg shadow-sm wow flipInY">
        <a href="https://wa.me/201110038252?text=مرحبًا%20Ticketat,%20اود%20ان%20اعرف%20مزيد%20من%20التفاصيل" target="_blank">
          {{'contact.buttons.contactUs' | translate}}
        </a>
      </button>
      <!-- <button class="btn btn-light btn-lg shadow-sm">
        <a href="mailto:anfahmy92@gmail.com?subject=Request Demo Tickectat&body=مرحبًا، أود طلب تجربة.">
          {{ 'contact.buttons.requestDemo' | translate }}
        </a>
      </button> -->
    </div>
  </div>
</section>
