<section id="about" class="about py-5">
  <div class="container">
    <div class="row g-4 rounded-5">

      <div class="col-lg-6 wow fadeInDown">
        <div class="about-img">
          <img loading="lazy" src="assets/image/about-image/about-image-5.png" [alt]="'about.companyTitle' | translate">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-info d-flex justify-content-center flex-column h-100 gap-3">
          <div class="about-title rounded-5 px-3 py-1 d-flex aling-items-center gap-1 wow fadeInLeft">
            <span class="line main-bg rounded-5"></span>
            <h3 class="m-0">{{'about.title' | translate}}</h3>
          </div>
          <div class="about-content">
            <h5 class="wow fadeInUp fw-bold">{{'about.heading' | translate}}</h5>
            <p class="wow fadeInUp my-3">{{'about.text' | translate}}</p>
            <p class="wow fadeInUp mb-1">{{'about.text2' | translate}}</p>
          </div>
          <div class="d-flex align-items-center flex-wrap gap-2">
            <button class="btn main-btn wow fadeInUp">
              <a class="text-white"
                href="https://www.ticketateg.com/"
                target="_blank">
                {{ 'about.contactUs' | translate }}
              </a>
            </button>
            <button class="btn second-btn wow fadeInDown" (click)="scrollToSection('why-us')">
              {{'hero.learnMore' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img src="assets/image/bullet-bg.png" class="w-100 bullet-bg" alt="ticketat">
</section>
