$mainColor : #E69F73;
$second-color:#c97b77;
.ads-bar {
  width: 100%;
  background: #000;
  color: #fff;
  overflow: hidden;
  z-index: 9999;
  height: 40px;
  display: flex;
  align-items: center;
  .ads-track {
    display: flex;
    width: max-content;
    animation: scrollAds 15s linear infinite;
  }

  .ads-track span {
    padding-right: 100px;
    font-weight: bold;
    white-space: nowrap;
  }
}

.head-home{
  a{
    font-weight: 600;
  }
}
.navbar-items{
  .logo{
    width: 80px;
  }
  .search-box{
    input{
      &:focus{
        box-shadow: noe;
      }
    }
  }
}


.btn-lang{
  border: 1px solid $mainColor;
}




@keyframes scrollAds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width:567px) {
  .list-Item{
    .nav-link{
      &::before{
        content: none !important;
      }
      &.active, &:hover{
        background-color: $mainColor;
      }
    }
  }
}
