<section class="navbar-section p-0" id="navbar-section">
  <div class="ads-bar p-2">
    <div class="ads-track">
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
      <span>🔥 Special offers for all our customers 🔥</span>
    </div>
  </div>

  <div class="head-home bg-light p-2">
    <div class="container">
      <ul class="list-unstyled m-0 d-flex flex-wrap justify-content-between align-items-center">
        <li>
          <a class="d-flex justify-content-center align-items-center gap-1" href="tel:+201559873992">
            <i class="fa-solid fa-phone"></i>
            <span dir="ltr">+201559873992</span>
          </a>
        </li>

        <li>
          <a class="d-flex justify-content-center align-items-center gap-1" href="https://wa.me/+201559873992?text=مرحبًا%20Glamify Store!%20أريد%20الاستفسار%20عن%20منتجاتكم" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
            <span dir="ltr">+201559873992</span>
          </a>
        </li>

        <li>
          <a class="d-flex justify-content-center align-items-center gap-1" href="">
            <i class="fa-solid fa-location-dot"></i>
            <span>Giza, Egypt</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="navbar-items my-2">
    <div class="container-fluid">
      <div class="d-flex justify-content-between justify-content-center gap-2">
        <div class="logo-store">
          <img loading="lazy" src="assets/image/logos/glamify-logo.png" class="logo cr" [alt]="'navbar.title' | translate" routerLink="/">
        </div>

        <div class="search-box w-100 d-flex justify-content-center align-items-center position-relative rounded-4 border">
          <i class="fa-solid fa-magnifying-glass rounded-4"></i>
          <input type="search" class="form-control search border-0 h-100" placeholder="Search By Name Or Brand..." [(ngModel)]="searchWord" (input)="onSearch()">

          @if(searchWord){
            <ul class="search-list list-unstyled m-0 p-0">
              @for (item of filteredProducts; track $index) {
                <li class="p-2 d-flex align-items-center gap-2 cr" (click)="goToProduct(item.id)">
                  <div>
                    <img [src]="item.image" [alt]="">
                  </div>
                  <div>
                    <p class="m-0">{{item.name}}</p>
                    <span class="m-0 main-color">{{ (item?.price || 0) - (item?.discount || 0) }} EGP</span>
                  </div>
                </li>
              }
            </ul>
          }
        </div>


        <div class="option-btn d-flex justify-content-center align-items-center gap-2">
          <button class="w-fit btn btn-lang rounded-5" (click)="switchLang()">
            {{lang.toUpperCase() == 'AR' ? 'العربية' : 'EN'}}
          </button>

          <button class="btn btn-cart w-fit rounded-5 position-relative" routerLink="/cart">
            <span class="cart-count">{{ cartCount().length }}</span>
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="categories">
    <ul class="list-unstyled d-flex flex-wrap justify-content-center align-items-center gap-4 bg-light m-0 p-3">
      <li class="cr" routerLink="/category/Skincare">Skincare</li>
      <li class="cr" routerLink="/category/Haircare">Haircare</li>
      <li class="cr" routerLink="/category/Makeup">Makeup</li>
      <li class="cr" routerLink="/category/Accessories">Accessories</li>
      <li class="cr" routerLink="/category/Perfume">Perfume</li>
      <li class="cr" routerLink="/category/Watch">Watch</li>
    </ul>

    <div class="container">
      <div class="text-center">
        <p class="m-0 my-2">
          مش لاقي المنتج اللي عايزه؟ اكتب اسمه والبراند، واحنا نوفره لك ونتواصل معاك فورًا.
        </p>
      </div>
      <form class="custom-product row g-2" [formGroup]="productRequestForm">
        <div class="col-sm-2 col-6">
          <input type="text" class="form-control" placeholder="Your Name..." formControlName="name">
          @if(  productRequestForm.get('name')?.invalid && productRequestForm.get('name')?.touched){
            <small class="text-danger">Name is required.</small>
          }
        </div>
        <div class="col-sm-2 col-6">
          <input type="tel" class="form-control" placeholder="Your Phone..." formControlName="phone">
          @if(  productRequestForm.get('phone')?.invalid && productRequestForm.get('phone')?.touched){
            <small class="text-danger">Phone is required.</small>
          }
        </div>
        <div class="col-sm-4 col-6">
          <input type="text" class="form-control" placeholder="Product Name..." formControlName="productName">
          @if(  productRequestForm.get('productName')?.invalid && productRequestForm.get('productName')?.touched){
            <small class="text-danger">Product Name is required.</small>
          }
        </div>
        <div class="col-sm-2 col-6">
          <input type="text" class="form-control" placeholder="Product Brand..." formControlName="brand">
          @if(  productRequestForm.get('brand')?.invalid && productRequestForm.get('brand')?.touched){
            <small class="text-danger">Brand is required.</small>
          }
        </div>
        <div class="col-sm-2 col-12 text-center">
          <button type="button" class="btn main-btn" [disabled]="productRequestForm.invalid || isLoading" (click)="submitProductRequest()">
            @if(isLoading){
              Sending <i class="fa-solid fa-spinner fa-spin"></i>
            } @else {
              Submit
            }
          </button>
        </div>
      </form>
   </div>
  </div>
</section>
