$mainColor : #598AF0;
$second-color:#B245C2;

.plan-card {
  border-radius: 1rem;
  transition: transform 0.4s, box-shadow 0.4s;
  overflow: hidden;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  }

  .card-body i {
    margin-bottom: 10px;
  }

  .btn {
    border-radius: 50px;
    font-weight: 600;
  }
}

/* Highlighted Plan */
.plan-card.highlight {
  border: 2px solid $mainColor;
  background: #f0f8ff;
}
