<section class="home overflow-hidden" id="home">
  <!-- <div class="banners">
    <div class="row g-0">
      <div class="col-2">
        <div class="product-banner h-50">
          <img loading="lazy" class="w-100 h-100" src="assets/image/home-image/image-1.png" alt="Glamify Store">
        </div>

        <div class="product-banner h-50">
          <img loading="lazy" class="w-100 h-100" src="assets/image/home-image/image-2.png" alt="Glamify Store">
        </div>
      </div>

      <div class="col-md-8">
        <div class="banners">
          <swiper-container
            dir="rtl"
            autoplay-delay="2500"
            autoplay-disable-on-interaction="false"
            class="mySwiper"
          >
            <swiper-slide>
              <div class="feature-image">
                <img loading="lazy" src="assets/image/home-image/banner-2.png" alt="Glamify Store">
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="feature-image">
                <img loading="lazy" src="assets/image/home-image/banner-1.png" alt="Glamify Store">
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>

      <div class="col-md-2">
        <div class="product-banner h-50">
          <img loading="lazy" class="w-100 h-100" src="assets/image/home-image/image-3.png" alt="Glamify Store">
        </div>

        <div class="product-banner h-50">
          <img loading="lazy" class="w-100 h-100" src="assets/image/home-image/image-4.png" alt="Glamify Store">
        </div>
      </div>
    </div>
  </div> -->

  @if(isBrowser){
    <div class="container">
      <!-- <div class="special-offer py-3">
        <h2 >Special Offer</h2>
        <swiper-container
          dir="rtl"
          class="mySwiper wow fadeInUp"
          pagination="false"
          navigation="true"
          loop="true"
          slides-per-view="auto"
          [breakpoints]="{
            '0': { slidesPerView: 2, spaceBetween: 10 },
            '768': { slidesPerView: 3, spaceBetween: 10 },
            '1024': { slidesPerView: 4, spaceBetween: 15 }
          }"
        >
        @for (item of slides; track $index) {
          <swiper-slide  [routerLink]="'/product-details/' + item?.id">
            <div class="product-card">
              <div class="image-wrapper">
                <img [src]="item?.image" [alt]="item?.name"/>
              </div>

              <div class="content">
                <h3 class="name">{{item?.name}}</h3>
                <span class="category">{{item?.category}}</span>
                <p class="price">{{item?.price}} EGP</p>

                <button class="add-btn" (click)="addToCart(item)">
                  Add to Cart
                </button>
              </div>
            </div>
          </swiper-slide>
        } @empty {
          <h5> Not Found Products</h5>
        }
        </swiper-container>
      </div>

      <div class="offer-499 py-3">
        <h2>Offers starting from | 499 EGP and below</h2>
        <swiper-container
          dir="rtl"
          class="mySwiper wow fadeInUp"
          pagination="false"
          navigation="true"
          slides-per-view="auto"
          loop="true"
          [breakpoints]="{
            '0': { slidesPerView: 2, spaceBetween: 10 },
            '768': { slidesPerView: 3, spaceBetween: 10 },
            '1024': { slidesPerView: 4, spaceBetween: 15 }
          }"
        >
        @for (item of slides; track $index) {
          <swiper-slide [routerLink]="'/product-details/' + item?.id">
            <div class="product-card">
              <div class="image-wrapper">
                <img [src]="item?.image" [alt]="item?.name"/>
              </div>

              <div class="content">
                <h3 class="name">{{item?.name}}</h3>
                <span class="category">{{item?.category}}</span>
                <p class="price">{{item?.price}} EGP</p>

                <button class="add-btn" (click)="addToCart(item)">
                  Add to Cart
                </button>
              </div>
            </div>
          </swiper-slide>
        }
        </swiper-container>
      </div> -->

      <div class="skinCare py-3">
        <h2>Skin Care</h2>
        <swiper-container
          dir="rtl"
          class="mySwiper wow fadeInUp"
          pagination="false"
          navigation="true"
          loop="true"
          slides-per-view="auto"
          [breakpoints]="{
            '0': { slidesPerView: 2, spaceBetween: 10 },
            '768': { slidesPerView: 3, spaceBetween: 10 },
            '1024': { slidesPerView: 4, spaceBetween: 15 }
          }"
        >
        @for (item of scenCare; track $index) {
          <swiper-slide>
            <div class="product-card">
              <div class="image-wrapper cr" [routerLink]="'/product-details/' + item?.id">
                <img [src]="item?.image" [alt]="item?.name"/>
              </div>

              <div class="content">
                <span class="brand">{{item?.brand}}</span>


                <h3 class="name m-0">{{item?.name}}</h3>
                <span class="category">{{item?.category}}</span>

                @if(item?.rate){
                  <div class="rate-stars mb-2 text-warning d-flex align-items-center gap-1">
                    <!-- Rate -->
                    <span class="text-muted">{{ item?.rate }}</span>

                    <!-- Full Stars -->
                    @for (i of getStars(item?.rate).fullStars; track $index) {
                      <i class="fa-solid fa-star"></i>
                    }

                    <!-- Half Star -->
                    @if (getStars(item?.rate).halfStar) {
                      <i class="fa-solid fa-star-half-stroke"></i>
                    }

                    <!-- Empty Stars -->
                    @for (i of getStars(item?.rate).emptyStars; track $index) {
                      <i class="fa-regular fa-star text-secondary"></i>
                    }
                  </div>
                }

                <p class="price">{{item?.price}} EGP</p>

                <button class="add-btn" (click)="addToCart(item)">
                  Add to Cart
                </button>
              </div>
            </div>
          </swiper-slide>
        } @empty {
          <h5> Not Found Products</h5>
        }
        </swiper-container>
      </div>

      <div class="makeups py-3">
        <h2>Makeups</h2>
        <swiper-container
          dir="rtl"
          class="mySwiper wow fadeInUp"
          pagination="false"
          navigation="true"
          loop="true"
          slides-per-view="auto"
          [breakpoints]="{
            '0': { slidesPerView: 2, spaceBetween: 10 },
            '768': { slidesPerView: 3, spaceBetween: 10 },
            '1024': { slidesPerView: 4, spaceBetween: 15 }
          }"
        >
        @for (item of makeUp; track $index) {
          <swiper-slide>
            <div class="product-card">
              <div class="image-wrapper cr" [routerLink]="'/product-details/' + item?.id">
                <img [src]="item?.image" [alt]="item?.name"/>
              </div>

              <div class="content">
                <span class="brand">{{item?.brand}}</span>


                <h3 class="name m-0">{{item?.name}}</h3>
                <span class="category">{{item?.category}}</span>

                @if(item?.rate){
                  <div class="rate-stars mb-2 text-warning d-flex align-items-center gap-1">
                    <!-- Rate -->
                    <span class="text-muted">{{ item?.rate }}</span>

                    <!-- Full Stars -->
                    @for (i of getStars(item?.rate).fullStars; track $index) {
                      <i class="fa-solid fa-star"></i>
                    }

                    <!-- Half Star -->
                    @if (getStars(item?.rate).halfStar) {
                      <i class="fa-solid fa-star-half-stroke"></i>
                    }

                    <!-- Empty Stars -->
                    @for (i of getStars(item?.rate).emptyStars; track $index) {
                      <i class="fa-regular fa-star text-secondary"></i>
                    }
                  </div>
                }

                <p class="price">{{item?.price}} EGP</p>

                <button class="add-btn" (click)="addToCart(item)">
                  Add to Cart
                </button>
              </div>
            </div>
          </swiper-slide>
        } @empty {
          <h5> Not Found Products</h5>
        }
        </swiper-container>
      </div>

      <div class="accessories py-3">
        <h2>Accessories</h2>
        <swiper-container
          dir="rtl"
          class="mySwiper wow fadeInUp"
          pagination="false"
          navigation="true"
          loop="true"
          slides-per-view="auto"
          [breakpoints]="{
            '0': { slidesPerView: 2, spaceBetween: 10 },
            '768': { slidesPerView: 3, spaceBetween: 10 },
            '1024': { slidesPerView: 4, spaceBetween: 15 }
          }"
        >
        @for (item of accessories; track $index) {
         <swiper-slide>
            <div class="product-card">
              <div class="image-wrapper cr" [routerLink]="'/product-details/' + item?.id">
                <img [src]="item?.image" [alt]="item?.name"/>
                <!-- <span class="category">{{item?.category}}</span> -->
              </div>

              <div class="content">
                <span class="brand">{{item?.brand}}</span>


                <h3 class="name m-0">{{item?.name}}</h3>
                <span class="category">{{item?.category}}</span>

                @if(item?.rate){
                  <div class="rate-stars mb-2 text-warning d-flex align-items-center gap-1">
                    <!-- Rate -->
                    <span class="text-muted">{{ item?.rate }}</span>

                    <!-- Full Stars -->
                    @for (i of getStars(item?.rate).fullStars; track $index) {
                      <i class="fa-solid fa-star"></i>
                    }

                    <!-- Half Star -->
                    @if (getStars(item?.rate).halfStar) {
                      <i class="fa-solid fa-star-half-stroke"></i>
                    }

                    <!-- Empty Stars -->
                    @for (i of getStars(item?.rate).emptyStars; track $index) {
                      <i class="fa-regular fa-star text-secondary"></i>
                    }
                  </div>
                }

                <p class="price">{{item?.price}} EGP</p>

                <button class="add-btn" (click)="addToCart(item)">
                  Add to Cart
                </button>
              </div>
            </div>
          </swiper-slide>
        } @empty {
          <h5> Not Found Products</h5>
        }
        </swiper-container>
      </div>

      <div class="watch py-3">
        <h2>Watches</h2>
        <swiper-container
          dir="rtl"
          class="mySwiper wow fadeInUp"
          pagination="false"
          navigation="true"
          loop="true"
          slides-per-view="auto"
          [breakpoints]="{
            '0': { slidesPerView: 2, spaceBetween: 10 },
            '768': { slidesPerView: 3, spaceBetween: 10 },
            '1024': { slidesPerView: 4, spaceBetween: 15 }
          }"
        >
        @for (item of watches; track $index) {
          <swiper-slide>
            <div class="product-card">
              <div class="image-wrapper cr" [routerLink]="'/product-details/' + item?.id">
                <img [src]="item?.image" [alt]="item?.name"/>
                <!-- <span class="category">{{item?.category}}</span> -->
              </div>

              <div class="content">
                <span class="brand">{{item?.brand}}</span>


                <h3 class="name m-0">{{item?.name}}</h3>
                <span class="category">{{item?.category}}</span>

                @if(item?.rate){
                  <div class="rate-stars mb-2 text-warning d-flex align-items-center gap-1">
                    <!-- Rate -->
                    <span class="text-muted">{{ item?.rate }}</span>

                    <!-- Full Stars -->
                    @for (i of getStars(item?.rate).fullStars; track $index) {
                      <i class="fa-solid fa-star"></i>
                    }

                    <!-- Half Star -->
                    @if (getStars(item?.rate).halfStar) {
                      <i class="fa-solid fa-star-half-stroke"></i>
                    }

                    <!-- Empty Stars -->
                    @for (i of getStars(item?.rate).emptyStars; track $index) {
                      <i class="fa-regular fa-star text-secondary"></i>
                    }
                  </div>
                }

                <p class="price">{{item?.price}} EGP</p>

                <button class="add-btn" (click)="addToCart(item)">
                  Add to Cart
                </button>
              </div>
            </div>
          </swiper-slide>
        } @empty {
          <h5> Not Found Products</h5>
        }
        </swiper-container>
      </div>

      <div class="saving-delivery py-3">
        <h2>Saving Corner | Free Delivery</h2>
        <swiper-container
          dir="rtl"
          class="mySwiper wow fadeInUp"
          pagination="false"
          navigation="true"
          loop="true"
          slides-per-view="auto"
          [breakpoints]="{
            '0': { slidesPerView: 2, spaceBetween: 10 },
            '768': { slidesPerView: 3, spaceBetween: 10 },
            '1024': { slidesPerView: 4, spaceBetween: 15 }
          }"
        >
        @for (item of slides; track $index) {
          <swiper-slide class="mx-3">
            <div class="d-flex flex-column justify-content-center align-items-center cr">
              <img class="rounded-circle w-75 mx-auto" [src]="item?.image" [alt]="item?.name" />
              <span class="category">{{item?.category}}</span>
            </div>
          </swiper-slide>
        } @empty {
          <h5> Not Found Products</h5>
        }
        </swiper-container>
      </div>
    </div>
  }




</section>




