<section class="feature py-5" id="feature">
  <div class="container">
    <div class="title wow fadeInDown mb-4">
      <h5>{{'features.title' | translate }}</h5>
      <h2 class="fw-bold">{{'features.subtitle' | translate}}</h2>
    </div>
    @if(isBrowser){
      <swiper-container
        dir="rtl"
        class="mySwiper w-100 h-100 wow fadeInUp"
        pagination="false"
        effect="coverflow"
        grab-cursor="true"
        slides-per-view="auto"
        coverflow-effect-rotate="50"
        coverflow-effect-stretch="0"
        coverflow-effect-depth="100"
        coverflow-effect-modifier="1"
        coverflow-effect-slide-shadows="true"
        loop="true"
        autoplay-delay="2500"
        autoplay-disable-on-interaction="false"
      >
      @for (feature of features; track $index) {
        <swiper-slide class="shadow rounded-3 overflow-hidden">
          <div class="feature-box d-flex flex-column justify-content-center align-items-center h-100 p-3 rounded-3 text-center">
            <!-- Feature Image -->
            <div class="feature-image">
              <img loading="lazy" [src]="'assets/image/logos/app-icon.png'" [alt]="feature?.title | translate">
            </div>

            <!-- Feature Content -->
            <div class="feature-content mt-4">
              <h6 class="fw-bold">{{ feature?.title | translate}}</h6>
              <p>{{ feature?.description | translate}}</p>
            </div>
          </div>
        </swiper-slide>
      }
      </swiper-container>
    }
  </div>
</section>
